{% extends 'base.html' %}

{% block titulo %}Blog - FinanzasClaras{% endblock %}

{% block contenido %}
    <h1>Blog de Consejos Financieros</h1>

    {% for articulo in articulos %}
        <h2>{{ articulo.titulo }}</h2>
        <p>{{ articulo.contenido }}</p>
        <p>Tipo: {{ articulo.tipo }}</p>
        <p>Fecha: {{ articulo.fecha_publicacion }}</p>
        <hr>
    {% empty %}
        <p>No hay artículos publicados todavía.</p>
    {% endfor %}
<h2>Agregar Artículo</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
{% endblock %}
