
{% extends 'base.html' %}

{% block titulo %}Servicios - FinanzasClaras{% endblock %}

{% block contenido %}
    <h1>Nuestros Servicios</h1>

    {% for servicio in servicios %}
        <h2>{{ servicio.nombre }}</h2>
        <p>{{ servicio.descripcion }}</p>
        <p>Tipo: {{ servicio.tipo }}</p>
        <p>Precio de referencia: ${{ servicio.precio_referencia }}</p>
        <hr>
    {% empty %}
        <p>No hay servicios cargados todavía.</p>
    {% endfor %}
 <h2>Agregar Servicio</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>    
{% endblock %}