{% extends 'base.html' %}

{% block titulo %}Tutoriales - FinanzasClaras{% endblock %}

{% block contenido %}
    <h1>Tutoriales de Finanzas</h1>

    {% for tutorial in tutoriales %}
        <h2>{{ tutorial.nombre }}</h2>
        <p>{{ tutorial.descripcion }}</p>
        <p>Tipo: {{ tutorial.tipo }}</p>
        <a href="{{ tutorial.url_video }}" target="_blank">Ver video</a>
        <hr>
    {% empty %}
        <p>No hay tutoriales cargados todavía.</p>
    {% endfor %}
<h2>Agregar Tutorial</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
{% endblock %}
